commands:
  01-update-composer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

container_commands:
  00-optimize:
    command: "/usr/bin/composer.phar dump-autoload --optimize"
  01-no_dev:
    command: "/usr/bin/composer.phar install --optimize-autoloader"
  
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root